.city-weather-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	background-color: rgb(232, 234, 246);
	padding: 20px;
	border-radius: 20px;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.sub-header {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
}
.close-icon-wrapper {
	display: flex;
	cursor: pointer;
}
.close-icon-wrapper:hover {
	transform: rotate(180deg);
	transition: 800ms transform;
}
.city-name-degrees-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px 30px 20px 30px;
}

.left {
	justify-content: flex-start;
}
.right {
	justify-content: flex-end;
}
.city-name {
	font-size: 25px;
	font-weight: bold;
}
.header-degrees {
	font-size: 21px;
	font-weight: bold;
}
.fav-indicator-wrapper {
	display: flex;
	align-self: center;
	margin-right: 10px;
	cursor: pointer;
}
.fav-button-wrapper {
	display: flex;
}
.fav-button-wrapper:hover {
	transform: scale(1.05) perspective(1px);
	transition: all 1s ease;
}

.favorite-icon:hover {
	transform: scale(1.1) perspective(1px);
	transition: all 1s ease;
}
.body {
	display: flex;
	width: 100%;
	margin-top: 25px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.current-weather-title {
	display: flex;
	font-size: 22px;
}
.five-days-weather {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 35px;
}
