@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');

html {
	height: 100%;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Montserrat, Roboto, OpenSans;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
